<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Helper</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles2.css">
    <link rel="stylesheet" href="cards.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
    /* Estilos para o modal */
.custom-modal {
  display: none; /* Ocultar por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); /* Fundo semi-transparente */
}

.custom-modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

.custom-modal .close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.custom-modal .close-btn:hover,
.custom-modal .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
    
    <script src="https://kit.fontawesome.com/57c017c42a.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Cabeçalho -->
    <header class="header" id="header">
        <div class="titulo-Icon" style="flex-wrap: nowrap;">
            <i class="fa-solid fa-earth-americas" style="font-size: 50px;"></i>
            <h1>Geo Helper</h1>
            <a href="https://www.geoguessr.com/multiplayer" target="_blank" style="text-decoration: none; color: azure; justify-content: center; display: flex; flex-direction: column;">>Abrir Geoguessr</a>
        </div>





        


        <div class="hamburguer-menu" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    <div class="hamburguer-nav">
        <div class="fechar-menu" aria-label="Fechar menu">×</div> 
        
        <nav class="header-nav">
            <ul>
                <li><a href="#" id="link-login" onclick="toggleLogin()">Login / Registrar</a></li>
                <li><p><span id="spanText"></span></p></li>
            </ul>
        </nav>
    </div>    
    <div class="container2" style="display: none;" id="container2">
        <div class="content2">
            <div class="icon-container2">
                <div class="icon main-icon" onclick="toggleIcons()">
                    <i class="fa-solid fa-hand-pointer"></i>
                </div>
                
                <div id="homeButton" class="icon icon-fill"><i class="fas fa-home"></i></div>
                <div class="icon icon-enter" id="profile-icon"><i class="fas fa-user"></i></div>
                <div id="logoutButton" class="icon icon-collapse"><i class="fas fa-sign-in"></i></div>
            </div>
        </div>
    </div>









        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="hideLogin()">&times;</span>
                <p style="font: bold;"><strong>Login: </strong><strong><span id="usernameSpan" style="color: blue; font-size: 20px;"></span></strong></p>
                <p style="font: bold;"><strong>Criado em: </strong><strong><span id="createdAtSpan" style="color: blue; font-size: 20px;"></span></strong></p>
                <div class="fds" style="display: none;">
                    <a href="#" id="botao-info-login" onclick="showChangePasswordForm()">Alterar a senha</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>


    <div id="overlay" class="overlay">
    <div class="login">
    <div class="login-interno">
        <div class="tabs">
            <button class="tab-link active" onclick="openTab(event, 'login')">Login</button>
            <button class="tab-link" onclick="openTab(event, 'register')">Registrar</button>
        </div>
        <!-- Conteúdo das abas -->
        <div id="login" class="tab-content active">
        <div class="formulario-login">  
            <form id="login-form" onsubmit="return validateLoginForm()">
                <h2>Fazer Login</h2>
                <input type="text" name="username" placeholder="Usuário" required>
                <input type="password" name="password" placeholder="Senha" required>
                <a href="#" id="forgot-password-link">Esqueci minha senha</a>
                <button type="submit">Entrar</button>
                <p id="login-error-message" style="color: red; display: none;"></p>
            </form>
        </div>
    </div>

        <div id="register" class="tab-content">
    <div class="formulario-login">
            <form id="register-form">
                <h2>Registrar</h2>
                <input type="text" name="name" placeholder="Nome" maxlength="15" required>
                <input type="text" name="username" placeholder="Usuário" minlength="5" required>
                <input type="email" id="email" name="email" minlength="7" required>
                <input type="password" name="password" placeholder="Senha" minlength="5" required>
                <button type="submit">Registrar</button>
                <p id="register-message" style="display: none;"></p>
            </form>
    </div>
</div>
</div>
        <button class="tab-link cancel" onclick="hideLogin()">Fechar</button>
    </div>

    <div id="forgot-password-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Recuperar Senha</h2>
            <form id="forgot-password-form" action="/forgot-password" method="post">
                <label for="recovery-email">Digite seu email:</label>
                <input type="email" id="recovery-email" name="email" required>
                <button type="submit" onclick="reloadPage()">Enviar</button>
            </form>
        </div>
    </div>
</div>  












<div class="overlay2" id="overlay2" style="display: none;" onclick="closeChangePasswordForm(event)">
    <form id="changePasswordForm" onsubmit="submitChangePassword(event)">
        <h2>Alterar Senha</h2>
        <input type="password" name="currentPassword" placeholder="Senha atual"><br>
        <input type="password" name="newPassword" placeholder="Nova senha"><br>
        <input type="password" name="confirmPassword" placeholder="Confirmar nova senha"><br>
        <button type="submit">Alterar Senha</button>
    </form>
</div>





















<div class="main-content">
        <div class="concept concept-one">
          <div class="hover hover-1"></div>
          <div class="hover hover-2"></div>
          <div class="hover hover-3"></div>
          <div class="hover hover-4"></div>
          <div class="hover hover-5"></div>
          <div class="hover hover-6"></div>
          <div class="hover hover-7"></div>
          <div class="hover hover-8"></div>
          <div class="hover hover-9"></div>
          <h1 style="color: azure;">Qual objetivo desse projeto?</h1>
          <p>Auxiliar jogadores de geoguessr em todo o mundo nas suas partidas, sendo um helper. Temos uma <strong style="color: aqua;">API</strong> poderosa implantada que foi desenvolvida por nós, que funciona como um grande filtro complexo e completo, que é atualizado frequentemente. Facilitando sua jogatina</p>
          <i class="fa-solid fa-arrow-down" style="font-size: 25px; color: azure;"></i><h4><strong style="color: aqua;">Funciona Assim</strong></h4><i class="fa-solid fa-arrow-down" style="font-size: 25px; color: azure;"></i>
        </div>

        <div class="concept concept-four">
          <div class="mae">
         <h1 style="color: black;">Serviços</h1> 
    <div class="cards-play">
        <a href="/simples" alt="Geoguessr-busca" target="">
            <div class="card">
              <div class="wrapper">
                <img src="/image/card.png" class="cover-image" />
              </div>
              <img src="/image/texto.png" class="title" />
              <img src="/image/objeto-card1.png" class="character" />
            </div>
          </a>
          
          <a href="/" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="/image/card2.png" class="cover-image" />
              </div>
              <img src="/image/texto2.png" class="title" />
              <img src="/image/objeto-card2.png" class="character" />
            </div>
          </a>
    
          <a href="/" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="/image/card3.png" class="cover-image" />
              </div>
              <img src="/image/texto3.png" class="title" />
              <img src="/image/objeto-card3.png" class="character" />
            </div>
          </a>
        </div>
    </div>
        </div>

        <div class="concept concept-three">
          <div class="word">
            <div class="hover">
              <div></div>
              <div></div>
              <h1>D</h1>
            </div>
            <div class="hover">
              <div></div>
              <div></div>
              <h1>U</h1>
            </div>
            <div class="hover">
              <div></div>
              <div></div>
              <h1>V</h1>
            </div>
            <div class="hover">
                <div></div>
                <div></div>
                <h1>I</h1>
              </div>
              <div class="hover">
                <div></div>
                <div></div>
                <h1>D</h1>
              </div>
              <div class="hover">
                <div></div>
                <div></div>
                <h1>A</h1>
              </div>
              <div class="hover">
                <div></div>
                <div></div>
                <h1>S</h1>
              </div>
          </div>
        </div>

        <div class="concept concept-six">
          <h1 class="word"><span class="char">C</span><span class="char">O</span><span class="char">N</span><span class="char">T</span><span class="char">A</span><span class="char">T</span><span class="char">O</span>
          </h1>
          <form id="contactForm">
            <label for="contact-name">Nome:</label>
            <input type="text" id="contact-name" name="name" required><br><br>
            <label for="contact-email">Email:</label>
            <input type="email" id="contact-email" name="contactEmail" required><br><br>
            <label for="contact-message">Mensagem:</label>
            <textarea id="contact-message" name="message" required></textarea><br><br>
            <button type="submit">Enviar</button>
        </form>
        <div id="successMessage" style="display:none; color:green;">
            Obrigado pela mensagem! Alguém vai lhe responder em breve.
        </div>

        </div>
</div>


   <!-- Video -->
<div class="video-background" id="myVideo">
    <video id="myVideo" autoplay muted loop><source src="/video/video.mp4" type="video/mp4"> Seu navegador não suporta vídeos HTML5.</video>
</div>


<script>
function reloadPage() {
    location.reload();
}

// Event listener para o carregamento do DOM
document.addEventListener('DOMContentLoaded', function() {
    // Replace with actual values if using server-side templating
    var name = "<%= name %>";
    var username = "<%= username %>";
    var createdAt = "<%= createdAt %>";

    document.getElementById('spanText').textContent = name;
    document.getElementById('usernameSpan').textContent = username;
    document.getElementById('createdAtSpan').textContent = createdAt;

    if (username) {
        document.getElementById('link-login').style.display = 'none';
        document.querySelector('.container2').style.display = 'flex';
        document.querySelector('.fds').style.display = 'inline-block';

        // Adiciona o evento de clique ao ícone de perfil
        document.getElementById('profile-icon').addEventListener('click', function() {
            showModal();
        });
    }
});

// Função para mostrar o modal
function showModal() {
    var modal = document.getElementById('myModal');
    modal.style.display = 'block';
}

// Função para ocultar o modal
function hideModal() {
    var modal = document.getElementById('myModal');
    modal.style.display = 'none';
}

// Função para validar o formulário de login
function validateLoginForm() {
    var username = document.querySelector('#login-form input[name="username"]').value;
    var password = document.querySelector('#login-form input[name="password"]').value;
    var errorMessage = document.getElementById('login-error-message');

    if (username === '' || password === '') {
        errorMessage.textContent = 'Por favor, preencha todos os campos.';
        errorMessage.style.display = 'block';
        return false; // Impede o envio do formulário
    } else {
        errorMessage.style.display = 'none';
        return true; // Permite o envio do formulário
    }
}

// Event listener para o formulário de login
document.getElementById('login-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Impede o envio padrão do formulário

    var formData = {
        username: document.querySelector('#login-form input[name="username"]').value,
        password: document.querySelector('#login-form input[name="password"]').value
    };

    fetch('/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Erro ao efetuar login. Status do servidor: ' + response.status);
        }
        // Verifique o tipo de conteúdo retornado (JSON ou texto)
        const contentType = response.headers.get('content-type');
        if (contentType && contentType.includes('application/json')) {
            return response.json(); // Se for JSON, parseie a resposta
        } else {
            return response.text(); // Se não for JSON, obtenha o texto da resposta
        }
    })
    .then(data => {
        // Aqui você pode decidir o que fazer com os dados retornados pelo servidor
        console.log('Resposta do servidor:', data);
        // Exibir mensagem de sucesso
        var successMessage = document.getElementById('login-error-message');
        successMessage.textContent = 'Login realizado com sucesso!';
        successMessage.style.color = 'green';
        successMessage.style.display = 'block';

        // Fechar o overlay após 1 segundo
        setTimeout(function() {
            hideLogin(); // Função para esconder o overlay de login
            location.reload(); // Recarrega a página
        }, 1000);
    })
    .catch(error => {
        var errorMessage = document.getElementById('login-error-message');
        if (error.message.includes('401')) {
            errorMessage.textContent = 'Senha inválida! Verifique seu usuário e senha.';
        } else {
            errorMessage.textContent = 'Erro ao processar a requisição: ' + error.message;
        }
        errorMessage.style.display = 'block';
        console.error('Erro:', error);
    });
});

// Função para alternar a visibilidade do link de login
function toggleLogin() {
    var linkLogin = document.getElementById('link-login');
    linkLogin.style.display = 'none'; // Esconder o link de login
    var overlay = document.getElementById('overlay');
    overlay.style.display = 'flex'; // Mostrar o overlay de login
}

// Função para fechar a tela de login
function hideLogin() {
    var overlay = document.getElementById('overlay');
    overlay.style.display = 'none'; 
    location.reload();
}









const homeButton = document.getElementById('homeButton');

// Adiciona um listener de clique
homeButton.addEventListener('click', () => {
    // Redireciona para a página inicial
    window.location.href = '/'; // Coloque o caminho da sua página inicial aqui
});


    // Seleciona o elemento pelo ID
    const logoutButton = document.getElementById('logoutButton');

    // Adiciona um listener de clique
    logoutButton.addEventListener('click', () => {
        // Redireciona para a rota de logout
        window.location.href = '/logout'; // Coloque o caminho correto da sua rota de logout aqui
    });












function showChangePasswordForm() {
            const overlay = document.getElementById('overlay2');
            overlay.style.display = 'flex'; // Mostra a sobreposição
        }

async function submitChangePassword(event) {
            event.preventDefault(); // Evita o comportamento padrão de recarregar a página

            const currentPassword = document.querySelector('input[name=currentPassword]').value;
            const newPassword = document.querySelector('input[name=newPassword]').value;
            const confirmPassword = document.querySelector('input[name=confirmPassword]').value;

            const response = await fetch('/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    currentPassword,
                    newPassword,
                    confirmPassword
                })
            });

            const result = await response.json();
            if (result.success) {
                alert('Senha alterada com sucesso!');
                // Limpar campos ou realizar outras ações após a alteração da senha
            } else {
                alert(`Erro ao alterar senha: ${result.message}`);
            }

            const overlay = document.getElementById('overlay2');
            overlay.style.display = 'none'; // Oculta a sobreposição após o envio
        }

function closeChangePasswordForm(event) {
            if (event.target === document.getElementById('overlay2')) {
                const overlay = document.getElementById('overlay2');
                overlay.style.display = 'none'; // Oculta a sobreposição ao clicar fora do formulário
            }
        }











// Event listener para o formulário de registro
document.getElementById('register-form').addEventListener('submit', function(event) {


    event.preventDefault(); // Impede o envio padrão do formulário

    var formData = {
        name: document.querySelector('#register-form input[name="name"]').value,
        username: document.querySelector('#register-form input[name="username"]').value,
        email: document.querySelector('#register-form input[name="email"]').value,
        password: document.querySelector('#register-form input[name="password"]').value
    };

    fetch('/register', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData)
    })
    .then(response => response.json())
    .then(data => {
        var messageElement = document.getElementById('register-message');
        messageElement.style.display = 'block';
        if (data.success) {
            // Mostrar mensagem de sucesso
            messageElement.style.color = 'green';
            messageElement.textContent = data.message;

            // Fechar o overlay após 1 segundo
            setTimeout(function() {
                hideRegister(); // Função para esconder o overlay de registro
                location.reload();
            }, 1000);
        } else {
            // Mostrar mensagem de erro
            messageElement.style.color = 'red';
            messageElement.textContent = data.message;
        }
    })
    .catch(error => {
        var messageElement = document.getElementById('register-message');
        messageElement.style.color = 'red';
        messageElement.textContent = 'Erro ao processar a requisição: ' + error.message;
        messageElement.style.display = 'block';
        console.error('Erro:', error);
    });
});

// Função para fechar a tela de registro
function hideRegister() {
    var overlay = document.getElementById('overlay');
    overlay.style.display = 'none'; 
}

// Função para esconder o overlay de alterar senha
function hideChangePasswordForm() {
    var overlay = document.getElementById('changePasswordOverlay');
    overlay.style.display = 'none';
}

// Função para alternar entre as abas
function openTab(evt, tabName) {
    var i, tabContent, tabLinks;
    tabContent = document.getElementsByClassName("tab-content");
    for (i = 0; i < tabContent.length; i++) {
        tabContent[i].style.display = "none";
    }
    tabLinks = document.getElementsByClassName("tab-link");
    for (i = 0; i < tabLinks.length; i++) {
        tabLinks[i].className = tabLinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    if (evt) {
        evt.currentTarget.className += " active";
    } else {
        var activeTabLink = document.querySelector('.tab-link[data-tab="' + tabName + '"]');
        activeTabLink.className += " active";
    }
}










// Exibir o modal quando a página carrega
document.addEventListener('DOMContentLoaded', function() {
  var modal = document.getElementById('loginModal');
  modal.style.display = 'block';
  
  // Fechar o modal se clicar no 'x' ou fora dele
  var closeBtn = document.querySelector('.custom-modal .close-btn');
  closeBtn.onclick = function() {
    modal.style.display = 'none';
    window.location.href = '/'; // Redirecionar após fechar o modal
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = 'none';
      window.location.href = '/'; // Redirecionar se clicar fora do modal
    }
  }
});















function openForgotPasswordModal() {
    document.getElementById('forgotPasswordModal').style.display = 'block';
}

function closeForgotPasswordModal() {
    document.getElementById('forgotPasswordModal').style.display = 'none';
}

</script>
<script src="script.js"></script>
<script src="script-de-senha.js"></script>
<script src="script-de-contato.js"></script>
    
    
</body>
</html>
