:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.4);
}


.mae h1{
  color: black ;
  display: flex;
  flex-direction: column;
}
.cards-play {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  gap: 2rem;
  flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
  padding: 20px; /* Added padding for better spacing */
  width: 5500vh;
  

}

.card {
  width: 220px;
  height: var(--card-height);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px; /* Adjusted padding for smaller screens */
  perspective: 2500px;
  margin: 50px; /* Adjusted margin for spacing between cards */
  position: relative;
  
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(45deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
  );
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgb(19, 12, 18) 97%
  );
}

.card:hover .wrapper::before,
.card:hover .wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: transform 0.5s;
  background-size: 100px;
}

.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 145%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;

}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
  
}

/* Media Queries */
@media (max-width: 1200px) {
  :root {
      --card-height: 250px;
      --card-width: calc(var(--card-height) / 1.5);
  }
}

@media (max-width: 992px) {
  :root {
      --card-height: 200px;
      --card-width: calc(var(--card-height) / 1.5);
  }
}

@media (max-width: 768px) {
  .cards-play {
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width: 576px) {
  :root {
      --card-height: 150px;
      --card-width: calc(var(--card-height) / 1.5);
  }
  .cards-play {
      flex-direction: column;
      align-items: center;
  }
  .card {
      width: calc(var(--card-height) / 1.2); /* Adjust the width for very small screens */
  }
}