#contactForm {
    background: linear-gradient(45deg, #0011ff2a, #0000003d, #ff88004d);
    backdrop-filter: blur(1px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.4);
    border-radius: 60px 0px 60px 0px;
    max-width: 400px;
    width: 100%;
}

#contactForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

#contactForm input[type="text"]:focus,
#contactForm input[type="email"]:focus,
#contactForm textarea:focus {
    border-color: #007BFF;
    outline: none;
}

#contactForm textarea {
    resize: none; /* Desabilita a funcionalidade de redimensionamento */
}

#contactForm button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 30px 0px 30px 0px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.7s;

}

#contactForm button:hover {
    background-color: green;
}

#successMessage {
    display: none;
    color: green;
    margin-top: 20px;
}

@media (max-width: 600px) {
    #contactForm {
        padding: 15px;
    }

    #contactForm button {
        font-size: 14px;
    }
}