


/* Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-y: hidden;
}


/* Personalizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #2f52ee;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-thumb:active {
    background: #333;
}

/* Cabeçalho */

.titulo-Icon{
    display: flex;
    gap: 2vh;
}

.titulo-Icon i{
    color: #007bff;
}








.seila {
    width: 13vw;
    height: 3.2rem;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    opacity: 1;
}



.container2 {
    display: flex;
    z-index: 99;
    height: 20px;
}

.content2 {
    display: flex;
    text-align: center;
    vertical-align: middle;
}

.icon-container2 {
    height: 50px;
    overflow: hidden; /* Para esconder os ícones que estão fora do contêiner */
    transition: height 0.5s ease; /* Transição suave para a altura */
}

.icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    
}

.icon::before, .icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: 30px;

}

.icon i {

    position: relative;
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 15px;
    transition: all 0.25s ease;
}

.icon-fill::before {

    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 1px #16A085;
}

.icon-fill:hover::before {
    
    box-shadow: inset 0 0 0 60px #16A085;
}

.icon-enter::after {
    box-shadow: inset 0 0 0 1px #EB9532;
}

.icon-enter::before {
    border-radius: 0;
    margin-left: -100%;
    box-shadow: inset 0 0 0 60px #EB9532;
}

.icon-enter:hover::before {
    margin-left: 0;
}

.icon-expand::after {
    box-shadow: inset 0 0 0 1px #C82647;
}

.icon-expand::before {
    background: #C82647;
    box-shadow: inset 0 0 0 60px #2d2c3e;
}

.icon-expand:hover::before {
    box-shadow: inset 0 0 0 1px #2d2c3e;
}

.icon-collapse::before {
    border-radius: 0;
}

.icon-collapse:hover::before {
    box-shadow: inset 0 30px 0 0 #8CC63F, inset 0 -30px 0 0 #8CC63F;
}

.icon-collapse::after {
    box-shadow: inset 0 0 0 1px #8CC63F;
}

.icon-rotate {
    box-shadow: inset 0 0 0 1px #7E3661;
}

.icon-rotate::after, .icon-rotate::before {
    border: 0px solid transparent;
}

.rotate-icon {
    animation: rotate 0.5s ease forwards;
}

/* Adicionado para controlar visibilidade dos ícones adicionais */
.icon-container2 .icon:not(.main-icon) {
    display: none;
}

.icon-container2.active .icon:not(.main-icon) {
    display: inline-block;
}

/* Animação de rotação */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
































.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 30%;
    height: 22%;
    border-radius: 0px 0px 20rem 0px ;
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    transition: top 0.3s ease-in-out; /* Transição suave para a mudança de posição */
    z-index: 1000; /* Certifique-se de que o cabeçalho esteja acima de outros conteúdos */
}

.header-nav{
    width: 90%;
}

.header-nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    z-index: 99999999;
}

.header-nav li {
    list-style: none;
    z-index: 99999999;
}

.header-nav a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    z-index: 99999999;
}


.header-nav a:hover {
    color: #007bff;
    z-index: 99999999;
}

.header-nav a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    z-index: 99999999;
}

.header-nav a:hover::before {
    transform: scaleX(1);
    z-index: 99999999;
}

/* Vídeo de fundo */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


/* Seção de Ajuda */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}





.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    padding-top: 30px;
}

.modal-content {
    padding: 20px;
    position: relative;
    max-width: 300px;
    color: #000000;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    border-radius: 25px;
    animation: expandOverlay 0.5s;
    background-image: url('/imagem.png');
    left: 50rem;
    top: 2.5rem;
}

.fds a {
    color: Black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-weight: 800;
}

.fds a:hover {
    color: #007bff;
    text-decoration: none;
}


.fds a::before {
    content: '';
    bottom: -4px;
    left: 0;
    width: auto;
    height: 2px;
    transform: scaleX(0);
}

.fds a:hover::before {
    transform: scaleX(1);
}








@keyframes flipInY {
    from {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    to {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}





.overlay, .feedback-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    font-weight: 500;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ff0000;
}

.modal-content .close:hover {
    color: #ff0000;
}

.feedback-message {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}








.content {
    padding: 20px;
    text-align: center;
}



@keyframes expandOverlay {
    0% {
        transform: scaleX(0) scaleY(0);
    }
    50% {
        transform: scaleX(1) scaleY(0);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes closeOverlay {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    100% {
        transform: scaleX(0) scaleY(0);
    }
}


.fechar-menu{ display: none;}



@media (max-width: 768px){
 .cards-play{
    gap: 1px;
 }

}










@media (max-width: 860px) {
    .titulo-Icon a
    { display: none;
      opacity: 0;
    }
    .concept-one p {
        margin: 0;
    }
    .modal-content {
        left: 20rem;
        top: 2.5rem;
    }





.fechar-menu {
    position: absolute;
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    right: 20px; /* Ajuste a posição horizontal conforme necessário */
    font-size: 24px; /* Tamanho do ícone */
    color: #ff0000; /* Cor do ícone */
    cursor: pointer;
    z-index: 1010; /* Garante que esteja acima do overlay */
}

.fechar-menu:hover {
    text-decoration: underline;
}
.header-nav ul{
    display: flex;
    flex-direction: column;
}
.concept-six{
    flex-direction: column;
}
}


/* Media Queries para responsividade */
@media (max-width: 600px) {
    .header{width: 100vw;}
    .header h1{margin-top: 14px;font-size: 7px;}

    .modal-content {
        left: 6rem;
        top: 2.5rem;
    }
    .content p {
        font-size: 0.7rem;
    }
    .seila {display: none; opacity: 0;}
    #paragrafo1 {font-size: 1rem;}
    .concept-one h1 {font-size: 1rem;}

}

@media (max-width: 1024px) {

    .modal-content {
        left: 10rem;
        top: 2.5rem;
    }

    .arrow-indicator i {
        font-size: 30px;
    }

}
@media (max-width: 1280px) {

    .header h1{ font-size: 20px;}
    .seila a {font-size: 10px;}
    .concept-one p {font-size: 1rem; margin: 0px 0px 0px 0px; }
    .header {background-color: transparent;}
}
@media (max-width: 400px) {

    .concept-one p{font-size: 12px}
    .concept-one h1{font-size: 12px; letter-spacing: 8px;}
    .concept-one h2{font-size: 12px; letter-spacing: 8px;}
    .header-nav li a { width: 100vw;}
    .header-nav li { width: 100vw;}
}
@media (max-width: 415px) {

    .concept-one p{font-size: 12px}
    .concept-one h1{font-size: 11px; letter-spacing: 8px;}
    .concept-one h2{font-size: 12px; letter-spacing: 8px;}
    .concept-six h1{display: none; opacity: 0;}
    .word {display: none; opacity: 0;}
    .concept-six span{display: none; opacity: 0;}
    .concept-six char{display: none; opacity: 0;}
    .header-nav li a { width: 100vw;}
    .header-nav li { width: 100vw;}

.filtros-mid{

    width: 91vw;
    display: flex;
}

.ajuda-mid{
    width: 91vw;

    display: flex;
    flex-direction: column;
}
}