.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    flex-wrap: wrap;
    position: relative;


}



.titulo-Icon{
    display: flex;
    align-items: center;
    
}

.header a {
    font-size: 45px;
}


.hamburguer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Alinha o menu à direita */
    cursor: pointer;
    z-index: 20; /* Coloca o menu hamburguer sobre os outros elementos */
    position: relative; /* Mantém relativo para posicionamento */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburguer-nav {
    display: none;
    position: fixed; /* Mudamos para fixed para sobrepor a página */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ocupar toda a altura da janela */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro transparente */
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garantir que esteja sobre todos os outros elementos */
    overflow-y: auto; /* Adicionar scroll se necessário */
    
}

.hamburguer-nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hamburguer-nav .nav-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addpais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 5vh;
    position: relative;
    flex-direction: row;
}

.add-country {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    background: linear-gradient(90deg, #ff00ff7a, #ff06066c);
}

.add-country.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, 0);
}

.header-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav ul li {
    margin: 0 10px;
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
}

.header-nav {
    margin-top: 10px;
}

.fodase {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#botao,
.toggle-button {
    cursor: pointer;
    background: linear-gradient(135deg, #7e2a6c, #c74d7e);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#botao:hover,
.toggle-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-botoes {
        width: 100%;
        margin-top: 10px;
    }

    .header-nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-nav ul li {
        margin: 5px 0;
    }

    .header-nav ul li a {
        font-size: 18px;
    }

    .hamburguer-menu {
        display: flex; /* Mostra o hamburguer menu em dispositivos menores */
    }

    .hamburguer-nav {
        display: none; /* Esconde o hamburguer nav em dispositivos menores */
    }

    .header.active .hamburguer-menu {
        display: none; /* Esconde o hamburguer menu ao clicar */
    }

    .header.active .hamburguer-nav {
        display: block; /* Mostra o hamburguer nav ao clicar */
    }
}

@media (max-width: 480px) {
    .titulo-Icon h1 {
        font-size: 18px;

    }

    .header-nav ul li a {
        font-size: 16px;
    }

    .nav-botoes,
    .addpais {
        align-items: flex-start;
        width: 100%;
    }

    .add-country {
        width: 100%;
        padding: 10px;
    }

    .add-country input,
    .add-country select {
        width: 100%;
        margin-bottom: 10px;
    }

    .add-country button {
        width: 100%;
    }

    .hamburguer-menu {
        display: flex; /* Mostra o hamburguer menu em dispositivos menores */
    }

    .hamburguer-nav {
        display: none; /* Esconde o hamburguer nav em dispositivos menores */
    }

    .header.active .hamburguer-menu {
        display: none; /* Esconde o hamburguer menu ao clicar */
    }

    .header.active .hamburguer-nav {
        display: block; /* Mostra o hamburguer nav ao clicar */
    }
}



.fechar-menu {
    position: absolute;
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    right: 20px; /* Ajuste a posição horizontal conforme necessário */
    font-size: 24px; /* Tamanho do ícone */
    color: #ff0000; /* Cor do ícone */
    cursor: pointer;
    z-index: 1010; /* Garante que esteja acima do overlay */
}

.fechar-menu:hover {
    text-decoration: underline;
}

.header-nav ul {
    display: flex;
    gap: 2rem;
}

.header-nav li {
    list-style: none;
}

.header-nav a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: #007bff;
}

.header-nav a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header-nav a:hover::before {
    transform: scaleX(1);
}