.help-container {
    position: absolute;
}
.help-icon {
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}

.help-box {
    display: none;
    position: absolute;
    top: -10px; /* Ajuste para alinhar a caixa no canto superior direito do ícone */
    left: 40px; /* Ajuste para alinhar a caixa à direita do ícone */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
}

.help-box p {
    margin: 0;
}
