/* Global Styles */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    height: 100%;
    font-size: 1.4rem;
    overflow-y: scroll;
    background-color: #181818;
    color: #c0c0c0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}


.titulo-Icon{
    display: flex;
    gap: 2vh;
}

.titulo-Icon i{
    color: #007bff;
}





.info {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px 0;
}

.info strong {
    color: white;
}

.info span {
    color: red;
}


















/* Form Elements */
input, select {
    background: #00ccff0e;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
select {
    background-color: #000000;
    color: #007bff;
}

.is-hidden {
    display: none !important;
}

/* Layout and Wrappers */
.wrapper {
    display: flex;
    justify-content: center;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.filter select{
width: 20vh;
}
.filters {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    color:#007bff;
}

.filters .wrapper {
    display: flex;
    gap: 2vw;
    margin-top: 3rem;

}

#caixa-texto{
    text-align: center;
}



.fiel{
    display: flex;
    justify-content: center;
}

.search-input {
    min-width: 20rem;
    width: 40%;

}

.search-input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.25);
}
.maps {
    flex: 1;
    overflow: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.8rem 1.2rem;
    vertical-align: middle;
}

th {
    text-align: left;
    cursor: default;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #696969;
}

th[data-sortable]:hover {
    color: #898989;
}

th[data-sortable]:after {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    margin-left: 0.5rem;
}

th[data-sort-dir="asc"]:after {
    content: '\f0d8';
}

th[data-sort-dir="desc"]:after {
    content: '\f0d7';
}

tbody tr:nth-child(2n) td {
    background: rgba(0, 0, 0, 0.025);
}

.tags {
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.no-results{
    padding: 2rem;
    text-align: center;
    color: #696969;
    font-weight: 500;
}

/* Country Table Styles */
#maps {
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
}

#maps th, #maps td {
    border: 1px dashed #ddd;
    padding: 8px;
    text-align: left;
}

#maps th {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    color: azure;
    font-size: 15px;
    text-align: center;
}
#maps th[data-sortable]::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    
}

#maps th[data-sort-dir="asc"]::after {
    border-bottom: 5px solid #333;
}

#maps th[data-sort-dir="desc"]::after {
    border-top: 5px solid #333;
}

#maps tbody td {
    vertical-align: middle;
    text-align: center;
}















































/* Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 50vh;
    background-size: auto;
    background-color:#000000;
    background-image: url("/imagem.png");
    background-position-x: 75px;
    background-repeat: no-repeat;
    overflow-y: auto;
    display: none;
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    text-wrap: wrap;
    border-radius: 15px;
    color: #007bff;
}
.modal p {font-size: larger;}

.modal.opening {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.modal.opening p{
    display: block;
    flex-direction: column;
    gap: 30px;

}
.close-button {
    position: relative;
    left: 93%;
    top: 10px;
    cursor: pointer;
    background: #ff5c5c;
    border: none;
    color: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
}
/* Flag Miniature */
.flag-miniature {
    max-width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
    display: none;
}

.country-link {
    position: relative;
    display: inline-block;
}
.country-link {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}

.flag-thumbnail {
    width: 19vh;
    height: auto;
    vertical-align: middle;
    position: absolute;
    left: calc(100% + 10px);
}

.flag-container {
    position: absolute;
    top: -10px;
    right: calc(100% + 10px);
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: none;
}

.country-link:hover .flag-container {
    display: block;
}

.flag-image {
    max-width: 100%;
    height: auto;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

/* Additional Styles */


.imagem-mid-nav {
    width: 10%;
    display: flex;
    align-items: center;
    /* Se necessário, ajuste conforme a necessidade do layout */
}





/* Personalizando a barra de rolagem */

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Botão de rolagem */
::-webkit-scrollbar-thumb {
    background: #2f52ee;
}

/* Botão de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Botão de rolagem ativo */
::-webkit-scrollbar-thumb:active {
    background: #333;
}


/* Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Personalizando a barra de rolagem */

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Botão de rolagem */
::-webkit-scrollbar-thumb {
    background: #2f52ee;
}

/* Botão de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Botão de rolagem ativo */
::-webkit-scrollbar-thumb:active {
    background: #333;
}